.container {
  display: flex;
  flex-direction: column;
}

.label {
  color: #475467;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 32px;
}

.header {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #DADDE1;
}

.filters {
  display: flex;
  row-gap: 8px;
  column-gap: 12px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  width: 112px;
  height: 96px;
  border-radius: 10px;
  border: 1px solid #DADDE1;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  gap: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus,
.filter:active {
  border-color: #E44848;
}

.selected {
  border-color: #E44848;
}
