.hero {
  background-image:
    url(../../assets/hero.jpg),
    linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  margin: auto 0;
  padding: 260px 64px;
  color: #ffffff;
}

.hero-header-primary {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}

.hero-header-secondary {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
